body {
  margin: 0;
  font-family: Arial, sans-serif; 
}

.navbar-title {
  padding: 20px;
  margin: 0;
  text-align: left;
}

.navbar {
  width: 180px; 
  background-color: #ffcc00;
  color: #000000;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; 
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  padding: 10px 20px;
}

.navbar ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul li a:hover {
  background-color: #ffbb00;
}

.box-f {
  width: 100%;
  height: 32%;
  padding: 20px;
  background-color: #ffbeba;
  border: 1px solid #868686;
  margin: 10px;
  border-radius: 15px;
}

.box-p {
  width: 100%;
  height: 32%;
  padding: 20px;
  background-color: #c8edfd;
  border: 1px solid #868686;
  margin: 10px;
  border-radius: 15px;
}

.box-i {
  width: 100%;
  height: 32%;
  padding: 20px;
  background-color: #ffdcaa;
  border: 1px solid #868686;
  margin: 10px;
  border-radius: 15px;
}

.box-w {
  width: 100%;
  height: 32%;
  padding: 20px;
  background-color: #c3f2cb;
  border: 1px solid #868686;
  margin: 10px;
  border-radius: 15px;
}

h2 {
  margin-top: 0px;
}

h1 {
  font-size: 25px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.flexbox {
  display: flex;
  justify-content: center;
}

.search-form {
  margin-top: 10px;
  padding: 0 15px;
  margin-right: 18px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #868686;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}