body {
  margin: 0;
  font-family: Arial, sans-serif; 
}

.navbar-title {
  padding: 20px;
  margin: 0;
  text-align: left;
}

.navbar {
  width: 180px; 
  background-color: #ffcc00;
  color: #000000;
  height: 100vh; 
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1; 
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar ul li span.material-symbols-outlined {
  display: inline-block;
  width: 20px; 
  text-align: center;
  margin-right: 10px; 
}

.logout {
  bottom: 0;
  position: fixed;
  margin-bottom: 5px;
}

.box-f {
  height: 50%;
  width: 65%;
  background-color: #ffbeba;
  border: 1px solid #868686;
  margin: 10px;
  border-radius: 15px;
}

.box-p {
  height: 50%;
  width: 25%;
  background-color: #c8edfd;
  border: 1px solid #868686;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap
}

.box-i {
  height: 50%;
  width: 50%;
  background-color: #ffdcaa;
  border: 1px solid #868686;
  margin: 10px;
  border-radius: 15px;
} 

.box-w {
  height: 50%;
  width: 50%;
  background-color: #c3f2cb;
  border: 1px solid #868686;
  margin: 10px;
  border-radius: 15px;
}

h2 {
  margin-top: 25px;
  margin-left: 25px;
  text-align: left;
}

h1 {
  font-size: 25px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 190px;
  width: 100%;
  height: 100%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.search-form {
  margin-top: 10px;
  padding: 0 15px;
  margin-right: 18px;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #868686;
  border-radius: 10px;
}

footer {
  background-color: #ffcc00;
  color: #000000;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2%;
  padding-bottom: 1%;
  z-index: 0;
}

.img-container {
width: 50%;
padding: 10px;
}

.feat-icons {
  width: 50%;
  border-radius: 5%;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
